<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <Regexs>
    <Regex>^FY3[A|B]_MERSI_(?&lt;Code&gt;T\d{3})_L2_PAD_MLT_(?&lt;Projection&gt;GLL)_\d{8}_\d{4}_(?&lt;Resolution&gt;0250)M_MS_03_02_01.JPG$</Regex>
    <Regex>^FY3[A|B]_MERSI_(?&lt;Code&gt;T\d{3})_L2_PAD_MLT_(?&lt;Projection&gt;GLL)_\d{8}_POAD_(?&lt;Resolution&gt;0250)M_MS_03_02_01.JPG$</Regex>
  </Regexs>
</configuration>
