<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="MapImageOutputDir" value="D:\AgileMapCacheImages"/>
		<add key="MapImageUrlBaseDir" value="http://agilemapwindows/AgileMapCacheImages/"/>
		<add key="MapConfigFile" value="E:\AgileMap项目\配置好的地图\Map1\CC_OralceSpatialDb.mcd"/>
    <add key="MintuesOfHostCache" value="5"/>
    <!--[.jpg|.png]-->
    <add key="OutputImageFormat" value=".jpg"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false 并删除上面的元数据终结点 -->
					<serviceMetadata httpGetEnabled="true"/>
					<!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
		</modules>
	</system.webServer>
</configuration>
