<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DataSearchServerHttpBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.24.175.34:8080/mas2-dms/services/DataSearchServer"
                binding="basicHttpBinding" bindingConfiguration="DataSearchServerHttpBinding"
                contract="HdDataServer.DataSearchServerPortType" name="DataSearchServerHttpPort" />
        </client>
    </system.serviceModel>
</configuration>